---
---

@use 'sass:list';
@use 'colors';
@use 'code';
@use 'fonts';

$font-stack: 'Titillium Web', sans-serif;
$code-stack: 'Lekton', monospace;

body {
  font-family: $font-stack;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
    margin: 2rem 0;
}

code, pre {
  font-family: $code-stack;
}

pre {
  overflow-x: auto;
  font-size: 0.9rem;
}

pre code {
  background: none;
  padding: 0;
}

#hero {
  margin: 1rem 0;
}

#hero ul, #hero li {
  background: none;
}

#hero li {
  padding-left: 8px;
}

#hero li i {
  margin-right: 4px;
}

#hero .coming-soon {
  padding-left: 28px;
}

#hero figure, #hero pre, #hero code {
  background: none;
  margin: 0;
  line-height: 140%;
}

#hero .col-8 {
  background: #1d2331;
}

#hero figure {
  padding: 1rem;
}

.coming-soon {
  color: #888;
}
